html, body {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
  background-color: #eee;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [id=content] {
    width: 100%;
  }
#content {
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class=container] {
    width: 100%;
  }

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class=grid] {
    width: 100%;
  }
.grid {
  display: flex;
}


header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  width: 100%;

}

.logo, #header-image {
    width: 200px;
    height: 30px;
    display: flexbox;
    background-color: #eee;
    font-weight: bold;
  }

nav, #nav-bar {
  margin-top: 30px;
  background-color:#eee;
  padding: 20px;
  width: 100%;
}
  
  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }
    
    li {
      padding: 0 10px;
    }  



.container1, #get_started {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 250px;
  margin-top: 60px;
}

  h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }

  input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color:orange;
    font-size: 20px;
    font-weight: 700; 
  }
  
  
  

 
 #features {
  margin-top: 30px;
}
  .icon, #fire, #truck, #battery-full {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;

  
  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
  }  


#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;

}
  iframe {
    max-width: 560px;
    width: 100%;
  }



  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [id=pricing] {
      width: 100%;
    }
  }
#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
  #tenor, #bass, #valve {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
  }
    
    .level {
      background-color: #ddd;
      color: black;
      padding: 15px 0;
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
    }
    
    h2 {
      margin-top: 15px;
    }
    
    ol {
      margin: 15px 0;
    }
      
      li { padding: 5px 0; }
  
    
    button {
      border: 0;
      margin: 25px 0;
      background-color:orange;
      width: 60px;
      height: 30px;
      font-weight: 400;
    }




footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}
  
  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }
    
    li {
      padding: 0 10px;
    }
  
  
  span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color:black;
  }

